.main{
    width: 1519px;
    height: 3600px;
    position: relative;
    flex-direction:row-reverse;
}

ul { list-style: none;  
    margin: 0; 
     padding-left: 0; 
     } 

a {
    font-size: 30px;
}

li {
    display: inline;
    margin-right: 100px;
}

nav{
    margin-left: 60px;
}

.company{
width: 1200px;
height: 800px;
margin: 0 auto;
padding: 0;
}

.texttop{
    width: 700px;
    height: 200px;
    font-size: 40px;
    margin-left: 60px;
    font-family: Verdana, sans-serif;
}

.back1{
    background-image: url('file:///C:/Users/Owner/Downloads/Telegram%20Desktop/photo_2022-05-17_19-06-26.jpg');
    background-size: cover;
}

.back2{
background-color: brown;
position: absolute;
margin: 0 auto;
position:relative;
padding-bottom:50px;
background-image: url('https://media.discordapp.net/attachments/827896333070893087/975733560097001502/unknown.png');
background-size: cover;
padding: 0;
}

.back3{
    background-color: brown;
    position: absolute;
    margin: 0 auto;
    position:relative;
    padding-bottom:50px;
    background-image: url('https://media.discordapp.net/attachments/827896333070893087/975735677868204072/unknown.png');
    background-size: cover;
    }

.company2{
width: 1400px;
height: 800px;
margin: 0 auto;
padding: 0;
}

.aa{
    width: 1024px;
    height: 45px;
    background-image: url('https://thumb.tildacdn.com/tild6637-3061-4666-b561-396531636566/-/format/webp/sqrr.png');
    font-size: 30px;
    margin-top: 0;
    font-family: Verdana, sans-serif;
}

.paa{
    font-weight: bolder;
    margin-left: 60px;
}

.p1{
    font-size: 30px;
    font-family: Verdana, sans-serif;
}

.phone{
    position:absolute;
    padding-top: 350px;
}

.phone2{
    position:absolute;
    padding-top: 266px;
}

.back4{
background-color: brown;
position: absolute;
margin: 0 auto;
position:relative;
padding-bottom:50px;
background-image: url('https://sun9-85.userapi.com/s/v1/ig2/xL0Vx3L6CTIJBjeiLwrm99QwTvGr97Nz_nRhzMhFpuND2eJ6QpvJcVhvE063wGId7_yfF2lwzwxwVq-taggj9yj1.jpg?size=1920x1080&quality=96&type=album');
background-size: cover;
}

.company4{
width: 1400px;
height: 1000px;
margin: 0 auto;
padding: 0;
}

.aaa{
width: 1024px;
height: 45px;
background-image: url('https://thumb.tildacdn.com/tild6637-3061-4666-b561-396531636566/-/format/webp/sqrr.png');
font-size: 30px;
margin-top: 0;
font-family: Verdana, sans-serif;
}

.p2{
    color: red;
    font-size: 50px;
    font-weight: bolder;
    font-family: Verdana, sans-serif;
}

.name{
        font-size: 70px;
        margin-left: 60px;
        color: red;
        font-family: Verdana, sans-serif;
}

.p3{
    color: red;
    font-size: 50px;
    font-weight: bolder;
    font-family: Verdana, sans-serif;
    padding-left: 380px;
}

.back5{
    background-color: rgb(128, 0, 128);
    position: absolute;
    margin: 0 auto;
    position:relative;
    background-size: cover;
    }

.company5{
        width: 1400px;
        height: 350px;
        margin: 0 auto;
        padding: 0;
        }

        .aaaa{
            width: 1024px;
            height: 45px;
            background-image: url('https://thumb.tildacdn.com/tild6637-3061-4666-b561-396531636566/-/format/webp/sqrr.png');
            font-size: 30px;
            margin-top: 0;
            font-family: Verdana, sans-serif;
            }

.email1{
    text-decoration: none;
    color: aqua;
}

.ots{
    margin-top: 70px;
}

.menu{
    color: aqua;
}

.svaz{
    position: absolute;
    margin: 0 auto;
    position:relative;
    background-size: cover;
}

h2 {
    margin-bottom: 100vh;
  }