body{
    margin: 0;
    width: 100%;
}
.topmenu{
    background-color: aqua;
    height: 130px;
    display: flex;
    flex-direction: column;
}
td{
    width: 200px;
    height: 10px;
    line-height: 20px;
    
}

a{
    color: black;
    border-style:solid;
    border-color:blueviolet;
    border-width: 4px;
    font-size:24; font-weight:bold;
        color: #000080; /* Цвет обычной ссылки */
        padding: 2px; /* Поля вокруг текста */
       }
       a:visited {
        color: #800080; /* Цвет посещенной ссылки */
       } 
       a:hover {
        text-decoration: none; /* Убираем подчеркивание */
        color: #fff; /* Цвет ссылки при наведении на нее курсора мыши */  
        background: #e24486; /* Цвет фона */
    


    
}
.botmenu{
    background-color: aqua;
    height: 200px;
    display: flex;
    flex-direction: column;

}

h1{
    text-align: center;
    display: flex;
    flex-direction: column;
}



th{
    text-align: center;
    width: 100%;
    
}
tr{
    width: 100%;
}
table{
    width: 100%;
}

#train {
    position: relative;
    cursor: pointer;
  }













 #zatemnenie {
        background: rgba(102, 102, 102, 0.5);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
      }
      #okno {
        width: 300px;
        height: 500px;
        text-align: center;
        padding: 15px;
        border: 4px solid #800080;
        border-radius: 10px;
        color: black;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background: #fff;
      }
      #zatemnenie:target {display: block;}
      .close {
        display: inline-block;
        border: 4px solid #800080;
        color: #0000cc;
        padding: 0 12px;
        margin: 10px;
        text-decoration: none;
        background: aqua;
        font-size: 14pt;
        cursor:pointer;
      }
      .close:hover {background: #e24486;}
















